/* Arquivos com as especificações CSS. */
red      { color:red; }

body { font-family: TAHOMA, Arial, sans-serif; }
body.Abertura  { background-color:#FFDEAD; }
body.Incluir   { background-color:#E5B18B; }
body.Consultar { background-color:#9CAB91; }
body.Alterar   { background-color:#DD9A69; }
body.Excluir   { background-color:#D29588; }
body.Listar    { background-color:#BDC7B5; }

button {background-color:transparent;
        font-family: TAHOMA, Arial, sans-serif; font-size:14px;
        color:black;
        text-align:center;
        border: none;
        padding:0px 10px 0px 10px;
        margin:7px -3px -3px -3px;
        width:85px; height:23px;
        cursor:pointer;
		border-radius: 10px 10px 0px 0px;}
button.ins {background-color:#E5B18B;}
button.con {background-color:#9CAB91;}
button.alt {background-color:#DD9A69;}
button.exc {background-color:#D29588;}
button.lst {background-color:#BDC7B5;}

div { top:0; left:0; width:100%; border:none; height:60px;}
div.menu      { background-color:#FFDEAD; position:static; height:30px;}
div.Abertura  { background-color:#FFDEAD; position:fixed; }
div.Incluir   { background-color:#E5B18B; position:fixed; }
div.Consultar { background-color:#9CAB91; position:fixed; }
div.Excluir   { background-color:#D29588; position:fixed; }
div.Alterar   { background-color:#DD9A69; position:fixed; }
div.Listar    { background-color:#BDC7B5; position:fixed; }